.historyContainer {
    width: 100%;

    .historyHeader {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #21B3BB;
        padding: 15px 20px;
        font-size: 20px;
        font-weight: bold;
        color: white;

        svg {
            position: relative;
            top: 2px;
            width: 25px;
            stroke: white;
        }
    }

    .historyBody {
        border-radius: 13px;
        border: 1px solid #DADADA;
        background-color: white;
        margin: 20px;
        padding: 20px;

        @media (max-width: 768px) {
            margin: 0;
        }
    }

    .tabsContainer {
        display: flex;
        margin: 20px 0 30px 0;

        &::after {
            content: "";
            display: block;
            height: 1px;
            top: 1px;
            background-color: #dddddd;
            width: 100%;
            align-self: end;
            border-radius: 5px;

        }

        .tabButton {
            background-color: transparent;
            cursor: pointer;
            font-size: 14px;
            position: relative;
            white-space: nowrap;
            letter-spacing: 0px;
            color: #7d838e;
            padding: 20px;

            &::after {
                content: "";
                border-radius: 5px;
                bottom: -0.4px;
                height: 1px;
                left: 0;
                width: 100%;
                position: absolute;
                background-color: #dddddd;
            }

            &.isActive {
                font-weight: bold;
                background-color: #f7f7f7;
                border-radius: 6px 6px 0 0;
                color: #21B3BB;

                &::after {
                    background-color: #21B3BB;
                    height: 2px;
                }
            }
        }



    }
}