.loginContainer {
    display: flex;
    top: 10rem;
    flex-direction: column;
    gap: 15px;
    height: 93.7vh;

    .login {
        width: 30rem;

        @media (max-width: 768px) {
            width: 20rem;
            display: flex;
            align-items: center;
            padding: 30px;
        }

        display: flex;
        gap: 40px;
    }

    .loginButton {
        width: 103%;
    }

    .loginLogo {
        display: flex;
        gap: 15px;
        align-items: center;

        img {
            width: 10rem;
        }



        .dropdownContainer {
            width: 110px;

            .dropdownElement {
                width: 100%;
                gap: 5px;
                border: 1px solid var(--gray-solid-light);
                background-color: var(--background-input-color);
                color: var(--text-switch-color);

                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    color: var(--gray-solid-light);

                }
            }
        }
    }

    .loginForm {
        display: flex;
        flex-direction: column;
        background: white;
        padding: 30px 30px;
        align-items: center;
        width: 18rem;
        align-self: center;
        gap: 20px;
        margin-top: 10rem;

        .loginButton{
            width: 87%;
        }
    }

    .loginFooter {
        display: flex;
        align-self: center;
    }
}

.modal {
    padding: 0px !important;

    .modalHeader {
        font-size: 16px;
        padding: 15px;
        background-color: #00BCD4;
        color: white;
    }

    .modalContent {
        margin-top: 30px;
    }

    .customRadioButtonGroup {
        gap: 30px;
    }
}