.card {
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    border: 1px solid #dadada;
    margin: 8px 0;
    gap: 30px;
    justify-content: space-around;
    border-radius: 13px;

    .info {
        display: flex;
        flex-direction: column;
        .name {
            font-size: 14px;
            color: #333;
        }
        
        .price {
            font-size: 14px;
            font-weight: bold;
            color: #000;
        }
    }

    .counter {
        display: flex;
        align-items: center;

        .button {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: none;
            background-color: #f0f0f0;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: #ddd;
            }
        }
        
        .quantity {
            margin: 0 12px;
            font-size: 14px;
            font-weight: bold;
        }
    }
}

.selected {
   border-bottom: 2px solid #21B3BB;
}







