.templatesListContainer{
    width: 50%;

    @media (max-width: 768px) {
            width: 100%;
    }
    

    .templatesListHeader{
        background-color:#00BCD4;
        padding: 20px;
        color: white;
        font-size: 18px;
        border-right: 1px solid #DADADA;
    }

    .templatesListSubtitle{
        background: #FAFAFA;
        color: #767778;
        padding: 10px;
        border-right: 1px solid #DADADA;
    }
}