.salesContainer {
    display: flex;
    width: 100%;
    flex-direction: column;

    .tableContainer{
        display: flex;
        flex-direction: column;
    }

    .updateSalesList {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        .updateButton {
            background-color: #1e8eab;
            cursor: pointer;
            border-radius: 13px;
            padding: 13px 15px;
            color: white;
            font-size: 14px;
        }

        @media (max-width: 768px) {
            margin-bottom: 10px;
        }
    }

    .salesFilters {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;

        .inputText {
            width: 100%;
            display: flex;
        }

        input {
            width: 100%;
            border: none;
            border-bottom: 1px solid #808080;
            font-size: 16px;

        }

        svg {
            width: 20px;
            border-radius: 4px;
            padding: 5px;
            color: white;
            background-color: #1e8eab;
        }

        .filtersButton {
            font-size: 14px;
            white-space: nowrap;
            background-color: white;
            border: 1px solid #1e8eab;
            cursor: pointer;
            border-radius: 13px;
            padding: 13px 15px;
            color: #1e8eab;
        }

        @media (max-width: 768px) {
            display: none;

        }
    }


}