.refundsContainer {
    width: 98%;
    display: flex;
    padding-bottom: 40px;
    margin-left: 15px;
    flex-direction: column;
    gap: 10px;

    .refundsTitle {
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
    }

    .refundsTable {
        width: 82%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        .headerCell {
            background-color: #00BCD4;
            border: none;
                
            .columnHeaderButton {
                color: white;
                font-size: 14px;
            }
        }
    }

    .noRefunds{
        margin-left: 15px;
    }

    
}