@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    src: url("../assets/fonts/Inter/Inter-Thin.ttf");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: url("../assets/fonts/Inter/Inter-ExtraLight.ttf");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/Inter/Inter-Light.ttf");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Inter/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/Inter/Inter-Medium.ttf");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/Inter/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/Inter/Inter-Bold.ttf");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    src: url("../assets/fonts/Inter/Inter-ExtraBold.ttf");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../assets/fonts/Inter/Inter-Black.ttf");
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #F7F7F7;
    color: #06152B;
}