.container {
    width: 100%;
    background-color: #f9f9f9;
    margin-top: 20px;
    border-radius: 13px;
    border: 1px solid #DADADA;

    .table {
        width: 100%;
        border-collapse: collapse;
        background: white;
        border-radius: 13px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;

        .tableHeader {
            background-color: #DADADA;
            min-height: 50px;
            display: flex;
            align-items: center;

            th {
                font-size: 16px;
                padding: 10px 20px;
                width: 10%;
                white-space: nowrap;

                svg {
                    width: 20px;
                    stroke: transparent;
                }
            }

        }

        input[type="checkbox"] {
            appearance: none;
            width: 20px;
            height: 20px;
            border: 1px solid #808080;
            border-radius: 4px;
            display: inline-block;
            position: relative;
            cursor: pointer;

            &:checked {
                background-color: #21B3BB;
                border: 1px solid #21B3BB;
            }

            &:checked::after {
                content: "✔";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 14px;
                color: white;
            }
        }

        .tableBody {
            width: 100%;

            .returned,
            .confirm {
                color: white;
                border-radius: 10px;
                width: 100px;
                text-align: center;
                padding: 10px 0;
            }

            .returned {
                background-color: #DC2626;
            }

            .confirm {
                background-color: #66a75a;
            }

            .noBorder {
                border: none;
            }

            td {
                font-size: 14px;
                padding: 15px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
                white-space: nowrap;
                margin: 5px;

                svg {
                    width: 20px;
                    fill: black;
                }


            }

            tr {
                display: flex;
                justify-content: flex-start;
                border-bottom: 1px solid #DADADA;
            }
        }
    }
}

.tableFooter {
    width: 100%;
    margin-top: 20px;

    .rowsPage {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;


        .itemPerPage {
            display: flex;
            align-items: center;
            gap: 10px;

            svg {
                width: 15px;
            }
        }

        .actualItemPage {
            display: flex;
            align-items: center;
            gap: 10px;

            svg {
                width: 15px;
            }
        }

        .iconTablePage {
            display: flex;
            align-items: center;
            border: 1px solid #DADADA;
            background-color: white;
            border-radius: 10px;
            gap: 0;
            padding: 10px;
        }

    }
}