.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #DADADA;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 99%;
    height: 60px;

    @media (max-width: 768px) {
        justify-content: space-around;
    }

    .footerOptions {
        display: flex;
        gap: 10px;


    }

    .option {
        background-color: #1e8eab;
        cursor: pointer;
        border: 1px solid #DADADA;
        border-radius: 13px;
        padding: 10px 15px;
        font-size: 14px;
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;

        svg {
            position: relative;
            width: 20px;
        }

        a {
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            gap: 5px;


        }

    }

    .clockContainer {
        display: flex;
        align-items: center;
        flex-direction: column;

        @media (max-width: 768px) {
            display: none;
        }

        svg {
            position: relative;
            width: 20px;
        }
    }

    .clorianInfo {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            position: relative;
            width: 80px;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}

.switchComponent[aria-checked=false] {
    background-color: #fbf5f5 !important;
}

.modal{
    padding: 0px !important;

    .modalHeader{
        background-color: #21B3BB;
        color: white;
        font-size: 16px;
        padding: 15px;
    }

    .modalContent{
        font-size: 14px !important;
        padding: 20px;
    }
}