

.searchContainer{
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
}

.inputsContainer{
    display: flex;
    gap: 10px;

    @media (max-width: 768px) {
        width: 100%;
        flex-direction: column;
    }

    .searchInput{
        border-bottom: 1px solid var(--gray-border-input-box-color);

        input{
            border: none;
        }
    }

}

.searchSelect{
    border: none;

    @media (max-width: 768px) {
        width: 100%;
    }

    .dropdownWrapper{

        .dropdownElement {
            border: none;
            border-bottom: 1px solid var(--gray-border-input-box-color);
            border-radius: 0px;
            position: relative;
            top: 2px;
        }

    }


}

.searchButtonContainer{
    display: flex;
    width: 100px;
    align-self: end;

    .searchButton{
        background-color: #00BCD4;
    }
}