/* Fondo con blur */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 998;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}

.sidebarClosed {
    transform: translateX(-100%);
}

.sidebarOpen {
    transform: translateX(0);
}

.sidebarHeader {
    padding: 20px;
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid #dadada;
    background-color: #00838F;
    color: white;

    svg {
        position: relative;
        top: 2px;
        width: 20px;
    }

    img {
        width: 30px;
    }
}

.sidebarMenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;

    button{
        width: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
        gap: 10px;
        font-weight: normal;
        padding: 0;

        svg {
            stroke: black;
        }

    }

    a{
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
        gap: 10px;
        svg{
            stroke: black;
        }
    }

    svg {
        position: relative;
        width: 20px;
    }

    &:hover {
        cursor: pointer;
        background-color: #F7F7F7;
        color: #696969;
    }
}

.menuSection {
    font-weight: bold;
    margin-top: 15px;
    cursor: default;
    color: #959595;
    background-color: #F7F7F7;
    padding: 10px 15px;
}

.sidebarFooter {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: gray;
}

.themeSwitchContainer {
    display: flex;
    margin: 10px;
}