.templatesEditContainer {
    width: 50%;


    .templatesEditHeader {
        background-color: #00BCD4;
        padding: 20px;
        color: white;
        font-size: 18px;
        border-left: 1px solid #DADADA;
    }

    .templatesListSubtitle {
        background: #FAFAFA;
        color: #767778;
        padding: 10px;
    }
}