name: "publish"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

# This workflow will trigger on each push to the `release` branch to create or update a GitHub release, build your app, and upload the artifacts to the release.

jobs:
  # publish-desktop:
  #   permissions:
  #     contents: write
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       include:
  #         - platform: "macos-latest" # for Arm based macs (M1 and above).
  #           args: "--target aarch64-apple-darwin"
  #         - platform: "macos-latest" # for Intel based macs.
  #           args: "--target x86_64-apple-darwin"
  #         - platform: "ubuntu-latest"
  #           args: ""
  #         - platform: "windows-latest"
  #           args: ""

  #   runs-on: ${{ matrix.platform }}
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: setup node
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: lts/*

  #     - name: install Rust stable
  #       uses: dtolnay/rust-toolchain@stable
  #       with:
  #         targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin,aarch64-apple-ios'  || '' }}

  #     - name: install dependencies (ubuntu only)
  #       if: matrix.platform == 'ubuntu-latest'
  #       run: |
  #         sudo apt-get update
  #         sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

  #     - name: install frontend dependencies
  #       run: npm install

  #     - uses: tauri-apps/tauri-action@v0
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       with:
  #         tagName: app-v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version.
  #         releaseName: "App v__VERSION__"
  #         releaseBody: "See the assets to download this version and install."
  #         releaseDraft: true
  #         prerelease: false
  #         args: ${{ matrix.args }}

  #     - name: Upload Linux Artifacts
  #       if: matrix.platform == 'ubuntu-latest'
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: tauri-linux
  #         path: |
  #           src-tauri/target/release/bundle/deb/*.deb
  #           src-tauri/target/release/bundle/rpm/*.rpm
  #           src-tauri/target/release/bundle/appimage/*.AppImage
  #     - name: Upload Windows Artifacts
  #       if: matrix.platform == 'windows-latest'
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: tauri-windows
  #         path: |
  #           src-tauri/target/release/bundle/msi/*.msi
  #           src-tauri/target/release/bundle/nsis/*.exe

  #     - name: Upload macOS Artifacts (x86_64)
  #       if: matrix.platform == 'macos-latest' && matrix.args == '--target x86_64-apple-darwin'
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: tauri-macos-x86_64
  #         path: |
  #           src-tauri/target/x86_64-apple-darwin/release/bundle/macos/*.app
  #           src-tauri/target/x86_64-apple-darwin/release/bundle/dmg/*.dmg

  #     - name: Upload macOS Artifacts (ARM/M1)
  #       if: matrix.platform == 'macos-latest' && matrix.args == '--target aarch64-apple-darwin'
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: tauri-macos-arm
  #         path: |
  #           src-tauri/target/aarch64-apple-darwin/release/bundle/macos/*.app
  #           src-tauri/target/aarch64-apple-darwin/release/bundle/dmg/*.dmg
  # publish-android:
  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: write
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: setup node
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: lts/*

  #     - name: Setup Java
  #       uses: actions/setup-java@v4
  #       with:
  #         distribution: "zulu"
  #         java-version: "17"

  #     - name: install Rust stable
  #       uses: dtolnay/rust-toolchain@stable
  #       with:
  #         targets: aarch64-linux-android,armv7-linux-androideabi,i686-linux-android,x86_64-linux-android

  #     - name: install dependencies
  #       run: |
  #         sudo apt-get update
  #         sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

  #     - name: install frontend dependencies
  #       run: npm install

  #     - name: Setup Android SDK
  #       uses: android-actions/setup-android@v3

  #     - name: Install NDK
  #       run: sdkmanager "ndk;27.0.11902837"

  #     - name: Init tauri android
  #       run: npm run tauri android init

  #     - name: setup Android signing
  #       run: |
  #         cd src-tauri/gen/android
  #         echo "keyAlias=${{ secrets.ANDROID_KEY_ALIAS }}" > keystore.properties
  #         echo "password=${{ secrets.ANDROID_KEY_PASSWORD }}" >> keystore.properties
  #         base64 -d <<< "${{ secrets.ANDROID_KEY_BASE64 }}" > $RUNNER_TEMP/keystore.jks
  #         echo "storeFile=$RUNNER_TEMP/keystore.jks" >> keystore.properties

  #     - name: Extract android signing key from env
  #       run: |
  #         echo "${{ secrets.ANDROID_KEY_BASE64 }}" > src-tauri/gen/android/release.jks.base64
  #         base64 -d src-tauri/gen/android/release.jks.base64 > src-tauri/gen/android/release.decrypted.jks

  #     - name: Build app bundle
  #       run: npm run tauri android build
  #       env:
  #         NDK_HOME: ${{ env.ANDROID_HOME }}/ndk/27.0.11902837

  #     - name: Sign APK
  #       run: |
  #         ${{ env.ANDROID_HOME }}/build-tools/34.0.0/apksigner sign --ks src-tauri/gen/android/release.decrypted.jks \
  #           --ks-key-alias ${{ secrets.ANDROID_KEY_ALIAS }} \
  #           --ks-pass pass:${{ secrets.ANDROID_KEY_PASSWORD }} \
  #           --key-pass pass:${{ secrets.ANDROID_KEY_PASSWORD }} \
  #           --out src-tauri/gen/android/app/build/outputs/apk/universal/release/app-universal-release-signed.apk \
  #           src-tauri/gen/android/app/build/outputs/apk/universal/release/app-universal-release-unsigned.apk

  #     - name: Upload Android Artifacts
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: tauri-android
  #         path: |
  #           src-tauri/gen/android/app/build/outputs/apk/universal/release/*.apk
  #           src-tauri/gen/android/app/build/outputs/bundle/universalRelease/*.aab
  publish-android-test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Extract android signing key from env
        run: |
          echo "${{ secrets.ANDROID_KEY_BASE64 }}" > release.jks.base64
          base64 -d release.jks.base64 > release.decrypted.jks

      - name: Upload Android Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tauri-android
          path: |
            release.decrypted.jks
